<style>
    .text-xl{text-align: center; margin-top: 5%;}
    .card{height: 90%;}
    .col-3{width: 21%; margin-left: 3%;margin-top: 1%;}
    .card:hover{cursor: pointer;background-color:rgb(252, 252, 252);
        height: 88%;}

    /*i{color: rgb(22, 22, 140);}*/
    i{color: #295313;}
    @media all and (min-width: 390px) and (max-width: 844px){
        .text-xl{text-align: center; margin-top: 5%;margin-left:0%}
        .card{height: 90%;min-width: 165%;}
        .col-3{width: 27%; margin-left: 3%;margin-top: 1%;}
        .card:hover{cursor: pointer;background-color:rgb(252, 252, 252);
            height: 38%;}
    }
    @media all and (min-width: 344px) and (max-width: 884px){
        .text-xl{text-align: center; margin-top: 5%;margin-left:-84%}
        .card{height: 61%;min-width: 155%;}
        .col-3{width: 27%; margin-left: 3%;margin-top: 1%;}
        .card:hover{cursor: pointer;background-color:rgb(252, 252, 252);
            height: 38%;}
    }
    @media all and (min-width: 344px) and (max-width: 884px){
        .text-xl{text-align: center; margin-top: 5%;margin-left:-84%}
        .card{height: 61%;min-width: 155%;}
        .col-3{width: 27%; margin-left: 3%;margin-top: 1%;}
        .card:hover{cursor: pointer;background-color:rgb(252, 252, 252);
            height: 38%;}
    }
    @media all and (min-width: 768px) and (max-width: 1024px){
        .text-xl{text-align: center; margin-top: 5%;margin-left:0%}
        .card{height: 90%;min-width: 105%;}
        .col-3{width: 27%; margin-left: 3%;margin-top: 1%;}
        .card:hover{cursor: pointer;background-color:rgb(252, 252, 252);
            height: 38%;}
    }
    @media all and (min-width: 540px) and (max-width: 720px){
        .text-xl{text-align: center; margin-top: 2%;margin-left:0%}
        .card{height: 90%;min-width: 115%;}
        .col-3{width: 27%; margin-left: 3%;margin-top: 1%;}
        .card:hover{cursor: pointer;background-color:rgb(252, 252, 252);
            height: 38%;}
    }
</style>
<div class="grid">
    <div class="col-3 lg:col-3 xl:col-3" >
        <div class="card">
            <a href="{{url}}" target="_blank">
                <div class="col justify-content-between">
                    <div class="flex align-items-center justify-content-center border-round">
                        <i class="pi pi-home  text-6xl mb-5"></i>
                    </div>
                </div>
                <div class="text-900 font-medium text-xl">SIPF2E</div>
            </a>
        </div>
    </div>
    <div class="col-3 lg:col-3 xl:col-3" >
        <div class="card">
            <a href="{{url}}/actualites" target="_blank">
                <div class="col justify-content-between">
                    <div class="flex align-items-center justify-content-center border-round">
                        <i class="pi pi-inbox  text-6xl mb-5"></i>
                    </div>
                </div>
                <div class="text-900 font-medium text-xl">Actualités</div>
            </a>
        </div>
    </div>
    <div class="col-3 lg:col-3 xl:col-3" >
        <div class="card">
            <a href="{{url1}}" target="_blank">
                <div class="col justify-content-between">
                    <div class="flex align-items-center justify-content-center border-round">

                        <i class="pi pi-users text-6xl mb-5"></i>
<!--                        <i class="pi pi-envelope text-6xl mb-5"></i>-->
                    </div>
                </div>
                <div class="text-900 font-medium text-xl">RH</div>
            </a>
        </div>
    </div>
    <div class="col-3 lg:col-3 xl:col-3" >
        <div class="card">
            <a href="{{url2}}" target="_blank">
                <div class="col justify-content-between">
                    <div class="flex align-items-center justify-content-center border-round">
                        <i class="pi pi-clone text-6xl mb-5"></i>
                    </div>
                </div>
                <div class="text-900 font-medium text-xl">Site web</div>
            </a>
        </div>
    </div>
    <div class="col-3 lg:col-3 xl:col-3" >
        <div class="card">
            <a href="{{url3}}" target="_blank">
            <div class="col justify-content-between">
                <div class="flex align-items-center justify-content-center border-round">
                    <i class="pi pi-envelope text-6xl mb-5"></i>
<!--                    <i class="pi pi-dollar text-6xl mb-5"></i>-->
                </div>
            </div>
            <div class="text-900 font-medium text-xl">Mail pro</div>
            </a>
        </div>
    </div>
    <div class="col-3 lg:col-3 xl:col-3" >
        <div class="card">
            <a href="{{url4}}" target="_blank">
                <div class="col justify-content-between">
                    <div class="flex align-items-center justify-content-center border-round">
                        <i class="pi pi-chart-bar text-6xl mb-5"></i>
                        <!--                    <i class="pi pi-dollar text-6xl mb-5"></i>-->
                    </div>
                </div>
                <div class="text-900 font-medium text-xl">Compta Matière</div>
            </a>
        </div>
    </div>
    <div class="col-3 lg:col-3 xl:col-3" >
        <div class="card">
            <a href="{{url5}}" target="_blank">
                <div class="col justify-content-between">
                    <div class="flex align-items-center justify-content-center border-round">
                        <i class="pi pi-money-bill text-6xl mb-5"></i>
                        <!--                    <i class="pi pi-dollar text-6xl mb-5"></i>-->
                    </div>
                </div>
                <div class="text-900 font-medium text-xl">Budget</div>
            </a>
        </div>
    </div>
    <div class="col-3 lg:col-3 xl:col-3">
        <div class="card">
            <a href="{{url6}}" target="_blank">
                <div class="col justify-content-between">
                    <div class="flex align-items-center justify-content-center border-round">
                        <i class="pi pi-chart-line text-6xl mb-5"></i>
                    </div>
                </div>
                <div class="text-900 font-medium text-xl">Congé</div>
            </a>
        </div>
    </div>
<!--    <div class="col-3 lg:col-3 xl:col-3" >
        <div class="card">
            <div class="col justify-content-between">
                <div class="flex align-items-center justify-content-center border-round">
                    <i class="pi pi-car text-6xl mb-5"></i>
                </div>
            </div>
            <div class="text-900 font-medium text-xl">Jotnaci</div>
        </div>
    </div>
    <div class="col-3 lg:col-3 xl:col-3" >
        <div class="card">
            <div class="col justify-content-between">
                <div class="flex align-items-center justify-content-center border-round">
                    <i class="pi pi-shopping-cart text-6xl mb-5"></i>
                </div>
            </div>
            <div class="text-900 font-medium text-xl">E-commerce</div>
        </div>
    </div>
    <div class="col-3 lg:col-3 xl:col-3" >
        <div class="card">
            <a routerLink="type-paiement">
                <div class="col justify-content-between">
                    <div class="flex align-items-center justify-content-center border-round">
                        <i class="pi pi-money-bill text-6xl mb-5"></i>
                    </div>
                </div>

                <div class="text-900 font-medium text-xl">Paiement de masse</div>
            </a>
        </div>
    </div>
    <div class="col-3 lg:col-3 xl:col-3" >
        <div class="card">
            <div class="col justify-content-between">
                <div class="flex align-items-center justify-content-center border-round">
                    <i class="pi pi-users text-6xl mb-5"></i>
                </div>
            </div>
            <div class="text-900 font-medium text-xl">Sama piece</div>
        </div>
    </div>
    <div class="col-3 lg:col-3 xl:col-3" >
        <div class="card">
            <a href="#">
                <div class="col justify-content-between">
                    <div class="flex align-items-center justify-content-center border-round">
                        <i class="pi pi-home  text-6xl mb-5"></i>
                    </div>
                </div>
                <div class="text-900 font-medium text-xl">Pointage</div>
            </a>
        </div>
    </div>-->
</div>

