<style>
    .layout-topbar,
    .layout-topbar-logo,
    .p-link {
        background-color: #006D3A;color: white;
        /*background-color: rgb(22, 22, 140);*/
        color: white;
    }
    .pf2e{
        text-align: center;
        position: relative;
        margin-left: 350px;
        justify-content: center;

    }
</style>
<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <!--        <img src="assets/layout/images/{{appMain.config.dark ? 'logo-white' : 'logo-dark'}}.svg" alt="logo">-->
        <img src="assets/layout/images/pf2e.png" alt="logo">
        <span>PORTAIL WEB DU PF2E</span>
    </a>

<!--    <a class="p-link layout-menu-button layout-topbar-button" href="#" (click)="appMain.toggleMenu($event)">
        <i class="pi pi-bars"></i>
    </a>

    <a class="p-link layout-topbar-menu-button layout-topbar-button" href="#" (click)="appMain.toggleTopMenu($event)">
        <i class="pi pi-ellipsis-v"></i>
    </a>-->
    <div class="pf2e">
         Programme de Formation Ecole Entreprise
    </div>

</div>
